/* Media queries for mobile view:
if you know a better alternative for these please transfer these to improved code */

@media screen and (max-width: 768px){
    .card-img-top {
        height: auto;
        max-width: 60%;
        display: flex;
        align-self: center;
    }
    .txt-2 {
        margin-bottom: 2em;
    }
    .rounded-circle{
        max-height: 50%;
        width: auto;
    }
}

@media (max-width: 768px) {
    .white-container, .list-group {
        margin-top: 20px;
    }
}

@media (max-width: 608px) {
    .white-container, .card, .align-txt, .our-work, strong, .list-group {
        max-width: 80%;
        margin-left: 10%;
    }
    .info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}