/* Media queries for mobile view:
if you know a better alternative for these please transfer these to improved code */

@media screen and (max-width: 767px){
    .card-img-top {
        height: auto;
        max-width: 60%;
        display: flex;
        align-self: center;
    }
    .txt-2 {
        margin-bottom: 2em;
    }
    .rounded-circle{
        max-height: 50%;
        width: auto;
    }
}