html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', Arial, sans-serif;
}

h2 {
    letter-spacing: 3px;
}

.font-style-1{
    font-weight: 900;
    font-size: 80px;
    font-family: 'Lato', sans-serif;
    text-align: left;
    padding-left: 8%;
    height: 180px;
}

@media (max-width: 992px) and (min-width: 763px) {
    .font-style-1 {
        width: 80%;
    }
}

.font-style-2{
    font-weight: 900;
    font-size: 60px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
    border-bottom: 5px solid #009688;
}

.fa-hand-o-down{
    color: #009688;
}

.what{
    background-image: url("");
}
.work{
    background-color: rgb(27, 26, 26);
    padding-top: 5%;
}

.our-work{
    color: white;
}

.our-work h2 {
    border-bottom: 6px solid #009688;
}
.planner{
    color: white;
    background-color: black;
}
.plan{
    color: white;
    background-color: rgb(48, 46, 46);
}
.btn{
    color: white;
    background-color: rgb(24, 139, 114);
}
.shade{
    background-color: rgba(49, 46, 46, 0.11)
}

#brief {
    position: center;
    text-align: center;
    text-decoration-style: italic;
}

.about-us {
    background-color: #F0F0F0;
}

.list-group:first-child:hover{
    box-shadow: 0.3px 0.2px 10px black;
    transition: 0.4s;
}

.lrg{
    font-size: 2.5rem;
    font-weight: 100;
}

.container {
    padding: 6.5rem 0rem;
}


.light{
    color: #716f6f;
}

.resize{
    padding-top: 10px;
}

.resize-2{
    padding-bottom: 5px;
}

.resize-3{
    width: auto;
    height: 6.5rem;
}

.align-txt{
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
    font-family: 'Open Sans', Arial, sans-serif;
}

.txt-2{
    word-spacing: -2.5px;
}

.font-ital {
    font-family: 'Merriweather', serif;
}

/* Contact section */

#contact{
    background-color: #F0F0F0;
}

.contact-list{
    display: block;
    padding: .75rem 0;
}

.info{
    margin-bottom: 2rem;
}

.contact-head {
    border-bottom: 5px solid #009688;
    font-size: 2rem;
    letter-spacing: 2px;
}

.contact-icon {
    color: #009688;
}

.submit-btn {
    background-color: rgb(194, 194, 194);
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    float: right;
}

.white-container{
    background: white;
    padding: 2rem;
    box-shadow: 2px 4px 10px rgb(114, 114, 114);
}

.footer-img {
    width: 100%;
}

.fa.contact-icon {
    font-size: x-large;
}

.input-block {
    margin: 1.8rem 0rem;
}

input.input-text {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(145, 145, 145);
}

/* Footer */

.footer-links {
    background-color: #009688;
    padding: 0.6rem 1rem;
    margin-right: 0.2rem;
    font-size: large;
    display: inline-block;
}

/* Need to come back to this, want to make icon change dark when item tag is in hover state */

.footer-links:hover {
    background-color: #aaa9a9;
    transition: 0.3s;
}

.fa-icon {
    color: #F0F0F0;
}

.fa-icon:hover{
    text-decoration: none;
}

.footer-bk {
    background-color: rgb(27, 26, 26); 
    display: flex;
    text-align: center;
}

.footer-bk h4 {
    color: #F0F0F0;
    margin-bottom: 1.3rem;
    
}

.footer-txt {
    color: #F0F0F0;
    margin-top: 1.3rem;
}

.a-txt {
    text-decoration: underline;
}

.footer-txt a:hover {
    color: #F0F0F0;
}

/* Back to top button */

#myBtn {  
    background-color: transparent;
    border: none;
    color: rgb(255,255,255);
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
}

#myBtn:hover {
    cursor: pointer;
}

/* Mobile view */

@media (max-width: 768px) {
    .white-container, .list-group {
        margin-top: 20px;
    }
}

@media (max-width: 608px) {
    .white-container, .card, .align-txt, .our-work, strong, .list-group {
        max-width: 80%;
        margin-left: 10%;
    }
    .info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}