html {
    scroll-behavior: smooth;
}

.what{
    background-image: url("");
}
.work{
    background-color: rgb(56, 51, 51);
    padding-top: 5%;
}
.our-work{
    color: white;
}
.planner{
    color: white;
    background-color: black;
}
.plan{
    color: white;
    background-color: rgb(48, 46, 46);
}
.btn{
    color: white;
    background-color: rgb(24, 139, 114);
}
.shade{
    background-color: rgba(49, 46, 46, 0.11)
}

#brief {
    position: center;
    text-align: center;
    text-decoration-style: italic;
}

.list-group:first-child:hover{
    box-shadow: 0.3px 0.2px 10px black;
    transition: 0.4s;
}

.lrg{
    font-size: 2.5rem;
    font-weight: 100;
}

.container {
    padding: 4rem 0rem;
}

.light{
    color: #716f6f;
}

.rounded-circle {
    height: auto;
    max-width: 70%;
}

.resize{
    padding-top: 10px;
}

.resize-2{
    padding-bottom: 5px;
}

.resize-3{
    width: auto;
    height: 6.5rem;
}

.align-txt{
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
}

.txt-2{
    word-spacing: -2.5px;
}

/* Contact section */

#contact{
    background-color: #F0F0F0;
}

.contact-list{
    display: block;
    padding: .75rem 0;
}

.info{
    margin-bottom: 2rem;
}

.contact-head {
    border-bottom: 6px solid #009688;
    font-size: 2rem;
}

.contact-icon {
    color: #009688;
}

.submit-btn {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    float: right;
}

.submit-btn:hover {
    background: rgb(194, 194, 194);
    color: black;
    border-color: rgb(194, 194, 194);
    cursor: pointer;
}

.white-container{
    background: white;
    padding: 2rem;
    box-shadow: 2px 4px 10px rgb(114, 114, 114);
}

.footer-img {
    width: 100%;
}

.fa.contact-icon {
    font-size: x-large;
}

.input-block {
    margin: 1.8rem 0rem;
}

input.input-text {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(145, 145, 145);
}

<<<<<<< HEAD
/* Footer */
=======
#myBtn{
    background-color: rgb(145, 145, 145);
    color: rgb(255,255,255);
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
}

/* Animation for JS file - In progress */
>>>>>>> edd2376804cc4af484edda503bb11bca9d164d6f

.footer-links {
    background-color: #009688;
    padding: 0.6rem 0.8rem;
    margin-right: 0.5rem;
    font-size: large;
}

/* Need to come back to this, want to make icon change dark when item tag is in hover state */

.footer-links:hover {
    background-color: #aaa9a9;
    transition: 0.3s;
    color: #0e0e0e;
}

.fa-icon {
    color: #F0F0F0;
}

.fa-icon:hover{
    color: #0e0e0e;
    text-decoration: none;
}

.footer-bk {
    background-color: #080808; 
    display: flex;
    text-align: center;
}

.footer-bk h4 {
    color: #F0F0F0;
    margin-bottom: 1.8rem;
    
}

.footer-txt {
    color: #F0F0F0;
    margin-top: 1.8rem;
}

.a-txt {
    text-decoration: underline;
}

.footer-txt a:hover {
    color: #F0F0F0;

/* Footer */

/* #myBtn{
    background-color: rgb(145, 145, 145);
    color: rgb(255,255,255);
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
} */

