html {
    scroll-behavior: smooth;
}

.what{
    background-image: url("");
}
.work{
    background-color: rgb(56, 51, 51);
    padding-top: 5%;
}
.our-work{
    color: white;
}
.planner{
    color: white;
    background-color: black;
}
.plan{
    color: white;
    background-color: rgb(48, 46, 46);
}
.btn{
    color: white;
    background-color: rgb(24, 139, 114);
}
.shade{
    background-color: rgba(49, 46, 46, 0.11)
}

#brief {
    position: center;
    text-align: center;
    text-decoration-style: italic;
}

.list-group:hover{
    box-shadow: 0.3px 0.2px 5px black;
    transition: 0.4s;
}

.lrg{
    font-size: 2.5em;
    font-weight: 100;
}

.light{
    color: #716f6f;
}

.rounded-circle {
    height: auto;
    max-width: 70%;
}

.resize{
    padding-top: 10px;
}

.resize-2{
    padding-bottom: 5px;
}

.resize-3{
    width: auto;
    height: 6.5em;
}

